<main>
  <article>
    <section class="titles">
      <h2>WEBSTAR</h2>
      <h1>FRONTEND</h1>
    </section>
    <section class="login">
      <div class="input-container">
        <label for="username">Felhasználónév</label>
        <input type="text" id="username" placeholder="mail@example.com" />
      </div>

      <div class="input-container">
        <label for="password">Jelszó</label>
        <input type="password" id="password" placeholder="*************" />
      </div>
      <button class="login-button">Belépés</button>
    </section>
  </article>
</main>
<footer class="copyright">Webstar Csopor Kft. - © Minden jog fenntartva</footer>
