<app-navbar></app-navbar>
<div class="character-container">
  <aside class="top-bar">
    <section class="row">
      <div class="partial-container">
        <div
          class="side"
          [class.light]="selectedCharacter.side === 'Világos'"
          [class.dark]="selectedCharacter.side === 'Sötét'"
        ></div>
        <div class="text-container">
          <p class="top-tag">OLDAL</p>
          <p class="top-data">{{ selectedCharacter.side }}</p>
        </div>
      </div>

      <div class="partial-container power-container">
        <img class="power" src="/assets/images/util/star.svg" />
        <div class="text-container">
          <p class="top-tag">KÜLÖNLEGES ERŐ</p>
          <p class="top-data">{{ selectedCharacter.power }}</p>
        </div>
      </div>
    </section>

    <section class="slider">
      <div class="dot-container">
        <div
          class="character-dot"
          [class.current-dot]="i === selectedCharacter.serial"
          *ngFor="let character of characters; index as i"
        ></div>
      </div>
      <div class="arrow-container">
        <img
          class="arrow-left"
          src="/assets/images/util/arrow_circle.png"
          alt="A left arrow icon"
          (click)="handleSlideLeft()"
        />
        <img
          class="arrow-right"
          src="/assets/images/util/arrow_circle.png"
          alt="A right arrow icon"
          (click)="handleSlideRight()"
        />
      </div>
    </section>
  </aside>

  <main class="info-container">
    <section class="character-data-container">
      <h1 class="name" [innerHTML]="selectedCharacter.name.toUpperCase()"></h1>
      <p class="description">
        {{ selectedCharacter.description }}
      </p>
    </section>

    <section class="character-img-container">
      <figure>
        <div class="circle"></div>
        <img [src]="selectedCharacter.imgSrc" alt="Portrait of the currently selected character" class="portrait">
      </figure>
    </section>

  </main>
</div>
<app-footer></app-footer>
